.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Adjust scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #22252e; /* Light emerald background */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #7e828b; /* Dark emerald thumb */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #065f46; /* Darker emerald on hover */
}

